extends ../layout

block content
    h1 Alteração de Usuário
    hr
    br
    form(method="POST", action="/clientes/edit/#{value._id}", role="form")
      input(type="hidden" name="_method" value="put")
      div(class="form-group")
        label Nome:
        input(type="text", name="nome", class="form-control", value="#{value.nome}")
      div(class="form-group")
        label Sobrenome:
        input(type="text", name="sobrenome", class="form-control",value="#{value.sobrenome}")
      div(class="form-group")
        label Data de Nascimento:
        input(type="date", name="dataNascimento", class="form-control", value="#{value.dataNascimento}")
      div(class="form-group")
        label Data de Cadastro:
        input(type="date", name="dataCadastro", class="form-control", value="#{value.dataCadastro}")
      div(class="form-group")
        label Endereço:
        input(type="text", name="endereco", class="form-control", value="#{value.endereco}")
      div(class="form-group")
        label Cidade:
        input(type="text", name="cidade", class="form-control", value="#{value.cidade}")
      div(class="form-group")
        label Estado:
        input(type="text", name="estado", class="form-control", value="#{value.estado}")
      input(type="submit", value="Atualizar", class="btn btn-success")
    br
    br
    a(href="/clientes" title="Voltar") Voltar